name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  helm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          cd app
          npm install
      - name: Lint & test app
        run: |
          cd app
          npm run lint
          npm test
      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.13.0
      - name: Helm lint
        run: helm lint helm/app-chart
      - name: Helm template
        run: helm template demo helm/app-chart
      - name: Complete
        run: echo "CI OK - helm deployment project"
